body {
	margin: 0;
	padding: 0;
	color: #666;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	line-height: 1.5em; 
	background-color: #ebe8e1;
}

a, a:link, a:visited { color: #bfb839; font-weight: 400; text-decoration: underline; }
a:hover { color: #930; text-decoration: none; }

p { margin: 0 0 10px 0; padding: 0; }
img { border: none; }
blockquote { font-style: italic; margin: 0 0 0 10px;}
cite { font-weight: bold; color:#333; }
cite span { color: #333; }
em { color: #333; font-weight: 400 }

h1, h2, h3, h4, h5, h6 { color: #000; font-weight: normal;  }
h1 { font-size: 34px; margin: 0 0 20px; padding: 5px 0 }
h2 { font-size: 28px; margin: 0 0 20px; padding: 5px 0 10px 0; }
h3 { font-size: 20px; margin: 0 0 15px; padding: 0; }
h4 { font-size: 18px; margin: 0 0 15px; padding: 0; }
h5 { font-size: 16px; margin: 0 0 10px; padding: 0;  }
h6 { font-size: 14px; margin: 0 0 5px; padding: 0; }

.cleaner { clear: both }
.h10 { height: 10px }
.h20 { height: 20px }
.h30 { height: 30px }
.h40 { height: 40px }
.h50 { height: 50px }
.h60 { height: 60px }

.float_l { float: left }
.float_r { float: right }

.image_wrapper { position: relative; display: inline-block; width: 300px; height: 250px; margin: 3px 0 10px 0; }
.image_wrapper img { z-index: 1000; position: absolute; top: 0; left: 0; height: 300px; }
.image_wrapper span {  position: absolute; border: 0; left: 0; height: 300px; background: url(images/templatemo_image_bg.jpg) no-repeat }

.image_fl { float: left; margin: 3px 20px 0 0 }
.image_fr { float: right; margin: 3px 0 0 20px }


.tmo_list { margin: 20px 0 20px 10px; padding: 0; list-style: none }
.tmo_list li { color:#bfb839; margin: 0; padding: 0 0 5px 15px; background: url(images/templatemo_list.jpg) no-repeat scroll 0 4px  }
.tmo_list li a { color: #bfb839; font-weight: normal; font-size: 12px; text-decoration: none }
.tmo_list li a:hover { color: #bfb839; text-decoration: underline }


#wrapper {
	width: 806px;
	margin: 0 auto;
	padding-left: 6px;
}

#header {
	width: 800px;
	height: 40px;
	padding: 40px 0 40px 6px;
}

#main {
	clear: both;
	width: 800px;
	margin: 0 0 0 6px;
}

.content_top { clear: both; height: 10px }
.content_box { position: relative; width: 660px; margin-bottom: 30px; padding: 70px 70px 70px 76px; background: #fff }

.content_title { position: absolute; width: 106px; height: 104px;
 top: -5px; left: -6px; }

a.gototop { display: block; position: absolute; width: 140px; height: 25px; padding: 65px 10px 0 0; text-align: right; font-size: 14px; bottom: 0; right: 0; color: #000; background: url(images/templatemo_gototop.jpg) no-repeat; text-decoration: none; }
a.gototop:hover { text-decoration: underline }
 
.col_w310 { width: 310px }
